
// Colors

$AccentsBlue: #04127C;
$AccentsBlueActive:#000B61;
$AccentsBlueLight:#4457E3;
$AccentsCyan: #179FBA;
$AccentsPurple: #8317BA;
$AccentsOrangle: #EB6B00;
$AccentsGreen: #347474;

$ExtraRed: #DB2A38;
$ExtraYellow: #DBC92A;
$ExtraYellowActive:#EB6E00;
$ExtraBlue : #2A86DB;
$ExtraGreen : #38A013;

$TextDark : #01010F;
$TextLight : #E8E8F6;
$TextMedium : #545483;

$GreyScale:#E9EAF0;
$GreyScale50: #C4C4C4;
$GreyScale100: #828282;
$GreyScale150: #4C4C4C;
$GreyScale200: #212121;

$TextColor : #222222;
$White : #FFFFFF;
$Whitebg : #F5F5F5;
$Whitebglight:#f5f5ff;

$Stroke :#EAEAEA;
$StrokeLight:#dcdcf2;
$StrokeDark:#696969;
$Strokemedium :#E3E3E8;

$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);
