.tableHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .searchBar {
        max-width: 19.5rem;
        width: 100%;
        position: relative;

        &::after {
            content: "";
            background: url("../images/icons/search.svg");
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            width: 1.25rem;
            height: 1.25rem;
        }
        .form-control {
            border-radius: 8px;
            border: 1px solid $StrokeDark;
            background: $White;
            padding: 8px 12px 8px 44px;
            color: #4e4e69;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .tableManupulations {
        width: 100%;
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 5px;

            li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                h6 {
                    display: none;
                    color: $ExtraYellowActive;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .nopadbtn {
                    padding: 0;
                }
            }
        }
    }
}

.table-responsive {
    max-width: 1080px;
    width: 100%;
    margin-top: 2rem;
    height: calc(100% - 4.125rem);
    .table {
        thead {
            tr {
                th {
                    width: max-content;
                    color: #4e4e69;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    padding: 0 12px 12px;
                    border-bottom: 1px solid $Stroke;
                    &:nth-child(6) {
                        text-align: right;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    width: max-content;
                    color: $TextColor;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border-bottom: 1px solid $Stroke;
                    padding: 22px 12px 19px;

                    .dropstart {
                        .btn {
                            padding: 0;
                            background: transparent;
                            &::before {
                                display: none;
                            }
                        }

                        .dropdown-menu {
                            padding: 1rem;
                            width: max-content;
                            li {
                                &:not(:last-child) {
                                    margin-bottom: 1rem;
                                }
                                .btn {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    gap: 8px;

                                    .icon {
                                        width: 16px;
                                        height: 16px;
                                        flex: none;
                                        display: grid;
                                        place-items: center;

                                        img {
                                            aspect-ratio: 1;
                                            object-fit: contain;
                                        }
                                    }

                                    h6 {
                                        flex: 1;
                                        color: $TextColor;
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 16px;
                                    }
                                }
                            }
                        }
                    }

                    &:first-child {
                        color: $AccentsBlue;
                        font-weight: 600;
                    }

                    &:nth-child(6) {
                        color: $TextColor;
                        font-weight: 600;
                        text-align: right;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .tableHeader {
        .tableManupulations {
            width: auto;
            margin-left: auto;
        }
    }
}

@include media-breakpoint-up(lg) {
    .tableHeader {
        .tableManupulations {
            ul {
                gap: 26px;
                li {
                    h6 {
                        display: block;
                    }
                    .nopadbtn {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 0.75rem;
                    }
                }
            }
        }
    }
}
